= form_for @activity_transaction do |f|
  - if @activity_transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity_transaction.errors.count, "error")} prohibited this activity_transaction from being saved:"
      %ul
        - @activity_transaction.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :activity_id
    = f.number_field :activity_id
  .field
    = f.label :note_id
    = f.number_field :note_id
  .field
    = f.label :input_type_id
    = f.number_field :input_type_id
  .field
    = f.label :decimal_score
    = f.text_field :decimal_score
  .field
    = f.label :integer_score
    = f.number_field :integer_score
  .field
    = f.label :boolean_score
    = f.check_box :boolean_score
  .field
    = f.label :deleted_at
    = f.datetime_select :deleted_at
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :completed_at
    = f.datetime_select :completed_at
  .field
    = f.label :archieved_at
    = f.datetime_select :archieved_at
  .actions
    = f.submit 'Save'
