%h1 Listing activity_transactions

%table
  %thead
    %tr
      %th Activity
      %th Note
      %th Input type
      %th Decimal score
      %th Integer score
      %th Boolean score
      %th Deleted at
      %th State
      %th Completed at
      %th Archieved at
      %th
      %th
      %th

  %tbody
    - @activity_transactions.each do |activity_transaction|
      %tr
        %td= activity_transaction.activity_id
        %td= activity_transaction.note_id
        %td= activity_transaction.input_type_id
        %td= activity_transaction.decimal_score
        %td= activity_transaction.integer_score
        %td= activity_transaction.boolean_score
        %td= activity_transaction.deleted_at
        %td= activity_transaction.state
        %td= activity_transaction.completed_at
        %td= activity_transaction.archieved_at
        %td= link_to 'Show', activity_transaction
        %td= link_to 'Edit', edit_activity_transaction_path(activity_transaction)
        %td= link_to 'Destroy', activity_transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Activity transaction', new_activity_transaction_path
