%p#notice= notice

%p
  %b Activity:
  = @activity_transaction.activity_id
%p
  %b Note:
  = @activity_transaction.note_id
%p
  %b Input type:
  = @activity_transaction.input_type_id
%p
  %b Decimal score:
  = @activity_transaction.decimal_score
%p
  %b Integer score:
  = @activity_transaction.integer_score
%p
  %b Boolean score:
  = @activity_transaction.boolean_score
%p
  %b Deleted at:
  = @activity_transaction.deleted_at
%p
  %b State:
  = @activity_transaction.state
%p
  %b Completed at:
  = @activity_transaction.completed_at
%p
  %b Archieved at:
  = @activity_transaction.archieved_at

= link_to 'Edit', edit_activity_transaction_path(@activity_transaction)
\|
= link_to 'Back', activity_transactions_path
