%h1 Listing notes

%table
  %thead
    %tr
      %th Descriptin
      %th Deleted at
      %th
      %th
      %th

  %tbody
    - @notes.each do |note|
      %tr
        %td= note.descriptin
        %td= note.deleted_at
        %td= link_to 'Show', note
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Note', new_note_path
