= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :token
    = f.text_area :token
  .field
    = f.label :account_id
    = f.number_field :account_id
  .actions
    = f.submit 'Save'
