<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      <%if @account.first_name%><%= @account.first_name %><% else %><%= account.username %><% end %> invited you to use collab. 

    </p>
  </body>
</html>