= form_for @api_key do |f|
  - if @api_key.errors.any?
    #error_explanation
      %h2= "#{pluralize(@api_key.errors.count, "error")} prohibited this api_key from being saved:"
      %ul
        - @api_key.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :access_token
    = f.text_field :access_token
  .field
    = f.label :account_id
    = f.number_field :account_id
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :expires_at
    = f.datetime_select :expires_at
  .field
    = f.label :deleted_at
    = f.datetime_select :deleted_at
  .actions
    = f.submit 'Save'
