%h1 Listing api_keys

%table
  %thead
    %tr
      %th Access token
      %th Account
      %th State
      %th Expires at
      %th Deleted at
      %th
      %th
      %th

  %tbody
    - @api_keys.each do |api_key|
      %tr
        %td= api_key.access_token
        %td= api_key.account_id
        %td= api_key.state
        %td= api_key.expires_at
        %td= api_key.deleted_at
        %td= link_to 'Show', api_key
        %td= link_to 'Edit', edit_api_key_path(api_key)
        %td= link_to 'Destroy', api_key, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Api key', new_api_key_path
