%p#notice= notice

%p
  %b Access token:
  = @api_key.access_token
%p
  %b Account:
  = @api_key.account_id
%p
  %b State:
  = @api_key.state
%p
  %b Expires at:
  = @api_key.expires_at
%p
  %b Deleted at:
  = @api_key.deleted_at

= link_to 'Edit', edit_api_key_path(@api_key)
\|
= link_to 'Back', api_keys_path
