%h1 Listing tags

%table
  %thead
    %tr
      %th Description
      %th Deleted at
      %th
      %th
      %th

  %tbody
    - @tags.each do |tag|
      %tr
        %td= tag.description
        %td= tag.deleted_at
        %td= link_to 'Show', tag
        %td= link_to 'Edit', edit_tag_path(tag)
        %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tag', new_tag_path
