working_directory "<%= current_path %>"
pid "<%= current_path %>/tmp/pids/unicorn.pid"
stderr_path "<%= shared_path %>/log/unicorn.log"
stdout_path "<%= shared_path %>/log/unicorn.log"

listen "/tmp/unicorn.collab.slock fail_timeout=0;", backlog: 256
worker_processes 4
timeout 80

preload_app true

before_fork do |server, worker|
  # the following is highly recomended for Rails + "preload_app true"
  # as there's no need for the master process to hold a connection
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.connection.disconnect!
  end

  # Before forking, kill the master process that belongs to the .oldbin PID.
  # This enables 0 downtime deploys.
  old_pid = "#{server.config[:pid]}.oldbin"
  if File.exists?(old_pid) && server.pid != old_pid
    begin
      Process.kill("QUIT", File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
      # someone else did our job for us
    end
  end
end

after_fork do |server, worker|
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.establish_connection
  end
end