= form_for @account_dashboard do |f|
  - if @account_dashboard.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account_dashboard.errors.count, "error")} prohibited this account_dashboard from being saved:"
      %ul
        - @account_dashboard.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :activity_id
    = f.number_field :activity_id
  .field
    = f.label :account_id
    = f.number_field :account_id
  .field
    = f.label :input_type_id
    = f.number_field :input_type_id
  .field
    = f.label :deleted_at
    = f.datetime_select :deleted_at
  .field
    = f.label :note_id
    = f.number_field :note_id
  .actions
    = f.submit 'Save'
