%h1 Listing account_dashboards

%table
  %thead
    %tr
      %th Activity
      %th Account
      %th Input type
      %th Deleted at
      %th Note
      %th
      %th
      %th

  %tbody
    - @account_dashboards.each do |account_dashboard|
      %tr
        %td= account_dashboard.activity_id
        %td= account_dashboard.account_id
        %td= account_dashboard.input_type_id
        %td= account_dashboard.deleted_at
        %td= account_dashboard.note_id
        %td= link_to 'Show', account_dashboard
        %td= link_to 'Edit', edit_account_dashboard_path(account_dashboard)
        %td= link_to 'Destroy', account_dashboard, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account dashboard', new_account_dashboard_path
