%p#notice= notice

%p
  %b Activity:
  = @account_dashboard.activity_id
%p
  %b Account:
  = @account_dashboard.account_id
%p
  %b Input type:
  = @account_dashboard.input_type_id
%p
  %b Deleted at:
  = @account_dashboard.deleted_at
%p
  %b Note:
  = @account_dashboard.note_id

= link_to 'Edit', edit_account_dashboard_path(@account_dashboard)
\|
= link_to 'Back', account_dashboards_path
