= form_for @activity , html: {:multipart => true}do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :deleted_at
    = f.datetime_select :deleted_at
  .field
    = f.label :state
    = f.text_field :state
  .field
    = label_tag :image
    = file_field_tag :image, multiple: true 
  .actions
    = f.submit 'Save'
