%p#notice= notice

%p
  %b Name:
  = @activity.name
%p
  %b Description:
  = @activity.description
%p
  %b Deleted at:
  = @activity.deleted_at
%p
  %b State:
  = @activity.state

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
